## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [60]:
# 設定 data_path
#dir_data = 'C:/Users/Rhinoshield/Documents/GitHub/ML100-Days/Homework/data/Day_002'
dir_data = '~/Documents/GitHub/ML100-Days/Homework/data/Day_002'

In [ ]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ~/Documents/GitHub/ML100-Days/Homework/data/Day_002\application_train.csv

In [ ]:
#check data info
app_train.info()

#查看app_train 前10行
app_train.head(10)

#查看app_train 後10行
app_train.tail(10)

#str
app_train.describe()

#check row and column indexes
app_train.axes

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [27]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [31]:
list(app_train.columns.values)
list(app_train)

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

#### 截取部分資料

In [47]:
app_train[['AMT_REQ_CREDIT_BUREAU_YEAR']]

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

[307511 rows x 5 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [48]:
#select columns
app_train.iloc[:, 0:5]

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

[307511 rows x 5 columns]

In [52]:
#select by row and column numbers (.iloc)
app_train.iloc[1:5, 1:5]

   TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
1       0         Cash loans           F            N
2       0    Revolving loans           M            Y
3       0         Cash loans           F            N
4       0         Cash loans           M            N

In [56]:
#first row of data frame
app_train.iloc[0]

#second row of data frame
app_train.iloc[1]

#last column of data frame
app_train.iloc[:,-1]

0         1.0
1         0.0
2         0.0
3         NaN
4         0.0
5         1.0
6         2.0
7         0.0
8         1.0
9         NaN
10        0.0
11        2.0
12        0.0
13        1.0
14        NaN
15        1.0
16        0.0
17        NaN
18        0.0
19        2.0
20        NaN
21        4.0
22        5.0
23        3.0
24        0.0
25        0.0
26        2.0
27        0.0
28        1.0
29        NaN
         ...
307481    3.0
307482    1.0
307483    5.0
307484    NaN
307485    0.0
307486    1.0
307487    8.0
307488    1.0
307489    2.0
307490    1.0
307491    7.0
307492    0.0
307493    7.0
307494    1.0
307495    1.0
307496    2.0
307497    6.0
307498    2.0
307499    0.0
307500    5.0
307501    NaN
307502    1.0
307503    2.0
307504    NaN
307505    0.0
307506    NaN
307507    NaN
307508    1.0
307509    0.0
307510    1.0
Name: AMT_REQ_CREDIT_BUREAU_YEAR, Length: 307511, dtype: float64